{% extends 'base.html.twig' %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="header">
                    <h4 class="title">Statistics</h4>
                    <p class="category">Number of Company Assets</p>
                </div>
                <div class="content">
                    {# chart or stat here#}
                   <div class="footer">
                       <div class="stats">
                           <i class="fa fa-clock-o"></i> Campaign sent 2 days ago
                       </div>
                   </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="header">
                    <h4 class="title">Statistics</h4>
                    <p class="category">Number of Company Assets</p>
                </div>
                <div class="content">
                    {# chart or stat here#}
                    <div class="footer">
                        <div class="stats">
                            <i class="fa fa-clock-o"></i> Campaign sent 2 days ago
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="header">
                    <h4 class="title">Statistics</h4>
                    <p class="category">Number of Company Assets</p>
                </div>
                <div class="content">
                    {# chart or stat here#}
                    <div class="footer">
                        <div class="stats">
                            <i class="fa fa-clock-o"></i> Campaign sent 2 days ago
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">Assets</h4>
                    <p class="category">Company Assets</p>
                </div>
                <div class="content">
                    <div class="footer">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}