{% extends 'base.html.twig' %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Threat Edit</h4>
                        <p class="category">Edit Treat</p>
                    </div>
                    <div class="content">
                        {% form_theme edit_form 'bootstrap_3_layout.html.twig' %}
                        {{ form_start(edit_form) }}
                        {{ form_widget(edit_form) }}
                        <div class="footer">
                            <input type="submit" value="Create" class="btn btn-success btn-fill"/>
                            {{ form_end(edit_form) }}
                            <a href="{{ path('threat_index') }}">Back to the list</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
